<mat-toolbar color = "primary">
  <a routerLink = "/"> Home </a>
  <span class = "spacer"> </span>
  <ul>
    <li>
      <a mat-button routerLink = "/try" routerLinkActive = "mat-accent"> Testing </a>
    </li>
    <li>
      <a mat-button routerLink = "/table" routerLinkActive = "mat-accent"> Table view </a>
    </li>
    <li>
      <a class = "linkuser" mat-button routerLink = "/stats" routerLinkActive = "mat-accent"> Stats </a>
    </li>
    <li>
      <a mat-button routerLink = "/session" routerLinkActive = "mat-accent"> Session </a>
    </li>
  </ul>
</mat-toolbar>
